# `backup` can be an alias for a host configured in `.ssh/config`
BORG_REPO='ssh://backup/~/iCloud-Test'

# 1Password Secret Reference (see https://developer.1password.com/docs/cli/secret-reference-syntax/)
# in 1Passwords, click ˯ next to the password, then "Copy Secret Reference"
OP_REFERENCE_PASSWORD="op://<vault-name>/<item-name>/[section-name/]<field-name>"

# Folders inside iCloud Drive to back up, one path per line.
# Spaces are allowed in folder and subfolder names.
ICLOUD_BACKUP_DIRS='personal
work
Personal/Tax Documents'

# Optional: override the iCloud Drive root directory
# ICLOUD_DRIVE_ROOT="$HOME/Library/Mobile Documents/com~apple~CloudDocs"

# Optional: override command used to force files/folders to download locally before backup (instead of `brctl download`)
# DOWNLOAD_COMMAND="../cloudfile/build/cloudfile materialize-sync"

# Optional: override command used to evict local files after backup to free disk space (instead of `brctl evict`)
# EVICT_COMMAND="../cloudfile/build/cloudfile evict"
